* {
    list-style: none;
    text-decoration: none;
}

:root {
    --black-color: #272a31;
    --red-color: #ec5242;
    --gray-color: #d3d3d3;
    --nav-color: #f7f4f4;
  }

.top-black-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.top-black-navbar > ul > li > a {
    text-decoration: none;
    color: var(--gray-color);
    font-size: small;
    font-family: 'Lato', sans-serif;
    margin: 0px 28px 0px 0px;
  }

.topbar {
    display: flex;
    gap: 2em;
    
}

.cards {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
}

.navbar-desktop {
    display: flex;
    justify-content: space-between;
}

.realbavlist {
    display: flex;
    gap: 3em;
    margin: 3% 0% 0% -5%;
    
}

.firstpart {
    background-image: url(../img/07.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    
} 

.text-container > p {
 padding-top: 3em;
 width: 90%;
 margin: auto;
 font-family: 'Lato', sans-serif;
 font-size: x-large;
 font-weight: 600;
 color: var(--red-color);
 text-align: center;
}
.creative-nexus{
 padding-top: 1em;
 padding-bottom: 1em;
 width: 90%;
 margin: auto;
 font-size: xx-large;
 font-weight: 400;
 color: rgba(236, 82, 66, 0.9);
 font-family: 'Cocogoose', sans-serif;
}

.text-container > p {
    padding-top: 4em;
    width: 90%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    font-weight: 400;
    color: var(--red-color);
}

.boxed-paragraph {
    display: block;
    border: solid #fff;
    border-radius: 3px;
    padding: 1em;
    width: 90%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black-color);
}

.header-time {
    padding-top: 1em;
    width: 90%;
    margin: auto;
    font-family: 'Cocogoose', sans-serif;
    font-size: xx-large;
    font-weight: 400;
    color: var(--black-color);
}

.below-h1 {
    width: 90%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black-color);
    padding-bottom: 5em;
}

.tesxth{
    padding-top: 4em;
    width: 90%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-size: x-large;
    font-weight: 400;
    color: var(--red-color);
}

 .mainprogram{
    background-color: var(--black-color);
    padding-bottom: 2.5em;
    width: 100%;
    background-image: url(../img/00.png);
}

.mainprogram h2 {
    text-align: center;
    color: #fff;
}

.mainprogram hr {
    width: 10%;
}

.cardsbut {
    background-color: var(--red-color);
    margin: auto;
    width: 16em;
    display: block;
    border-radius: 0.5em;
    padding: 1.7em;
    color: var(--gray-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: initial;
    margin-top: 2%;
    border: none;
}




@media screen and (min-width: 768px) { 
    .lecture,
    .farm-exhibition,
    .forum,
    .workshop,
    .ff-ignite
    {
    align-items: center;
    width: 20%;
    margin: auto;
    background-color: rgba(211, 211, 211, 0.25);
    height: 100%;
   }  
    
}

@media screen and (max-width: 768px)  {
    
    .cards {
        display: inline;
         
    }

   .lecture,
   .farm-exhibition,
   .forum,
   .workshop,
   .ff-ignite
   {
    display: flex;
    width: 98%;
    background-color: rgba(211, 211, 211, 0.25); 

    gap: 5em;
    padding-left: 1%;
   }

   .navbar-right,
   .navbar-desktop,
   .top-black-navbar {
    display: none;
   }
   
    
}