* {
  list-style: none;
  text-decoration: none;
}

:root {
  --black-color: #272a31;
  --red-color: #ec5242;
  --gray-color: #d3d3d3;
  --nav-color: #f7f4f4;
}

a:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}



.nav-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15px;
}

.logo img {
  width: 10em;
}

.nav-ul li {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #344563;
  margin-left: 32px;
}

.cards {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
}

.navbar-desktop {
    display: flex;
    justify-content: space-between;
}

.realbavlist {
  display: flex;
  gap: 3em;
  margin: 3% 0% 0% -5%;
}

.firstpart {
  background-image: url(../img/07.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.text-container > p {
  padding-top: 3em;
  width: 90%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: x-large;
  font-weight: 600;
  color: var(--red-color);
  text-align: center;
}

.creative-nexus {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 90%;
  margin: auto;
  font-size: xx-large;
  font-weight: 400;
  color: rgba(236, 82, 66, 0.9);
  font-family: 'Cocogoose', sans-serif;
}

.boxed-paragraph {
  display: block;
  border: solid #fff;
  border-radius: 3px;
  padding: 1em;
  width: 90%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--black-color);
}

.header-time {
  padding-top: 1em;
  width: 90%;
  margin: auto;
  font-family: 'Cocogoose', sans-serif;
  font-size: xx-large;
  font-weight: 400;
  color: var(--black-color);
}

.below-h1 {
  width: 90%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--black-color);
  padding-bottom: 5em;
}

.tesxth {
  padding-top: 4em;
  width: 90%;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: x-large;
  font-weight: 400;
  color: var(--red-color);
}

.mainprogram {
  background-color: var(--black-color);
  padding-bottom: 2.5em;
  width: 100%;
  background-image: url(../img/00.png);
}

.mainprogram h2 {
  text-align: center;
  color: #fff;
}

.mainprogram hr {
  width: 10%;
}

.cardsbut {
  background-color: var(--red-color);
  margin: auto;
  width: 16em;
  display: block;
  border-radius: 0.5em;
  padding: 1.7em;
  color: var(--gray-color);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: initial;
  margin-top: 2%;
  border: none;
}

.imagecont {
  position: relative;
  width: 100px;
}

.toprow,
.bottomrow {
  display: flex;
  justify-content: space-between;
}

.toprow img,
.bottomrow img {
  width: 12rem;
  align-items: center;
  display: flex;
}

.climate,
.lehmann,
.weleda,
.rb,
.elobau {
  margin-top: 5%;
}

.farmimgpartners {
  background-color: var(--black-color);
}

.speakertext {
  margin-left: 10%;
}

.toppart h3 {
  margin: auto;
  padding: 0.2em;
  color: var(--black-color);
  font-family: 'Cocogoose', sans-serif;
  font-weight: 400;
  font-size: initial;
  text-align: center;
  padding-top: 2.5em;
}

.toppart hr {
  display: block;
  height: 0.2em;
  background-color: #ec5242;
  margin: auto;
  width: 5em;
  margin-bottom: 1em;
}

.farmimgpartners h3 {
  padding-top: 1em;
  padding-bottom: 0.1em;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: var(--gray-color);
  font-size: large;
  margin-bottom: 0.5em;
  margin-left: 45.5%;
}

.farmimgpartners hr {
  display: block;
  height: 0.2em;
  background-color: #ec5242;
  margin: auto;
  width: 8em;
}

.right-footer-text {
  font-size: large;
  font-family: 'Cocogoose', sans-serif;
}

.firstrow,
.secondrow,
.thirdrow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.speaker {
  display: inline-flex;
  width: 45%;
}

.speakertext > h4 {
  font-family: 'Cocogoose', sans-serif;
  font-size: large;
  font-weight: 400;
  color: var(--black-color);
  margin-bottom: 0;
   }

.speakertext1  {
  color: var(--red-color);
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: smaller;
  margin-top: 0;
}

.imagecontainer {
  border: grey solid;
  width: 75%;
  margin: auto;
  margin-bottom: 1.5em;
}

.home hr {
  width: 10%;
}

.prevsumits {
  padding-top: 5%;
  background-color: #f7f2f2;
}

.partner-1 {
  font-family: 'Anton', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: #fff;
}

.partner-2 {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: xx-large;
  color: #fff;
}

.partner-3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: #fff;
}

.partner-4 {
  font-family: 'Cocogoose', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: #fff;
}

.partner-5 {
  font-family: 'Anton', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: #fff;
}

.partner-6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .nav-ul {
    margin-right: 39px;
  }

  .hamburger {
    display: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }

  .top-black-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    height: 3.5em;
  }

  .top-black-navbar > ul > li > a {
    text-decoration: none;
    color: var(--gray-color);
    font-size: small;
    font-family: 'Lato', sans-serif;
    margin: 0 28px 0 0;
  }

  .topbar {
    display: flex;
    gap: 2em;
  }

  .home {
    margin-top: 0;
  }

  .lecture,
  .farm-exhibition,
  .forum,
  .workshop,
  .ff-ignite {
    align-items: center;
    width: 20%;
    margin: auto;
    background-color: rgba(211, 211, 211, 0.25);
    height: 100%;
    text-align: center;
  }

  .crosshairs img {
    display: none;
  }

  .speackerimg {
    position: relative;
    top: 4px;
    left: 25px;
    width: 6em;
  }

  .speakertext p,
  .speakertext h4 {
    width: 81%;
    margin: auto;
  }

  .speackerimg img {
    width: 7em;
  }

  .speakertext2 {
    font-size: x-small;
    color: var(--black-color);
    margin-bottom: 0;
  }

  .features-speakers {
    width: 92%;
    margin: 0 0 0 8%;
  }

  .previoussummits {
    display: flex;
    width: 80%;
    margin: auto;
    gap: 4em;
    margin-bottom: 24px;
    margin-top: 33px;
  }

  .creative-nexusabout {
    padding-top: 4em;
    padding-bottom: 1em;
    width: 50%;
    margin: auto;
    font-size: xx-large;
    font-weight: 900;
    color: rgba(236, 82, 66, 0.9);
    font-family: 'lato', sans-serif;
    text-align: center;
  }

  .boxed-paragraphabout {
    display: block;
    border: solid #fff;
    border-radius: 3px;
    padding: 1em;
    width: 60%;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black-color);
    background-color: #fff;
    text-align: center;
  }

  .contpara {
    margin-left: 30%;
    margin-top: 2%;
    width: 40%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black-color);
  }

  .emailpara {
    width: 50%;
    margin-left: 40%;
    margin-top: 1%;
    text-decoration-line: underline;
    padding-bottom: 1%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--black-color);
  }

  .logosection {
    margin: auto;
    width: 50%;
    align-items: center;
    text-align: center;
  }
  
  .prevsumits h3,
  .prevsumits p {
    margin: auto;
    width: 50%;
    text-align: center;
  }
  
  .logosection h3 {
    margin-top: 5%;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--black-color);
  }
  
  .logosection hr,
  .prevsumits hr {
    width: 10%;
  }
  
  .logoimage1 img {
    width: 36%;
    margin-bottom: 4em;
    margin-top: 4em;
  }

  .sumit2013-img {
    background-color: rgba(236, 82, 66, 0.50);
    margin: -21px 0 0 0;
    height: 100%;
  }

  .sumit2013 {
    width: 50%;
    background-image: url(../img/Next-Generation-Conference-2022-group-photo-c-NFU.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    height: 13em;
  }
  
  .sumit2014 {
    width: 50%;
    background-image: url(../img/PXL_20211118_092531580-scaled-e1638366981737.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 13em;
  }

  .left-footer-text {
    font-size: small;
    font-family: 'Lato-Bold', sans-serif;
    text-align: left;
    margin: 17px 0 0 78px;
    width: 70%;
    margin-left: 32%;
  }

  .footer-section-container {
    display: flex;
    width: 70%;
    margin: auto;
  }

  .partners-bottom-content {
    display: flex;
    justify-content: space-between;
  }
  
}

